<ion-content>
<ion-img src="assets/header.png"></ion-img>
<ion-back-button  defaultHref="tabs/tab2" class="back-btn-css"></ion-back-button>
<h2 text-center style="text-transform:uppercase">Show Commands</h2>
<div padding>
  <ion-item>
    <h5>Location  <span slot="end">{{location}}</span></h5>
  </ion-item>
  <ion-item>
  <h5>Fetch Contact  <span slot="end">{{contact}}</span></h5>
</ion-item>
<ion-item>
  <h5>Ringer Mode  <span slot="end">{{ringer}}</span></h5>
</ion-item>
<ion-item>
  <h5>Lock Device  <span slot="end">{{lock}}</span></h5>
</ion-item>
</div>
</ion-content>
