<ion-content>
<ion-img src="assets/header.png"></ion-img>
<h2 text-center style="text-transform:uppercase">Configure</h2>
  <ion-grid style="margin-top:30%">
    <ion-row>
     <ion-col>
       <ion-button text-center class="btn" [routerLink]="'/set-password/'" routerDirection="forward">Set Password</ion-button>
     </ion-col>
      </ion-row>
    <ion-row>
     <ion-col>
       <ion-button text-center class="btn" [routerLink]="'/set-commands/'" routerDirection="forward">Set Commands</ion-button>
     </ion-col>
   </ion-row>
   <ion-row>
    <ion-col>
      <ion-button  text-center class="btn" [routerLink]="'/show-commands/'" routerDirection="forward">Show Commands</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<div>

</div>
</ion-content>
