.activate{
  border-radius: 50%;
  width:100px;
  height:100px;
  display: block;
  margin: auto;
  margin-top: calc(40% - 50px);
  ion-icon{
    font-size: 40px;
    text-align: center;
  }
}
.logo{
  width:100px;
  height:100px;
  margin: auto;
}
