<ion-content>
    <ion-img src="assets/header.png"></ion-img>
    <h2 text-center>SMS My Device</h2>
    <div style="margin-top:10px">
      <h3>Working</h3>
      <p>We provide you a very simple offline packet of Android app which will solve all the issues.
All you need to do is simply send an SMS from any basic phone with the passcode you set
on your Android app. The app works totally in background, A user just has to set a
passcode and he is done with it, Now he does not need to do anything else after that, the app
will automatically detect Incoming message filter it and search for the passcode on success
reads command and perform the task as per user requirement.</p>
<br>
<h3>Features</h3>
<ul>
<li>
  An easy way to access your phone’s contact at anytime, anywhere just through a
  simple SMS.
</li>
<li>An sms can help you change the sound profile of your phone(silent to normal)
without Internet</li>
<li>

Remote Access without the Internet.</li>
<li>
Track your phone through an SMS</li>
<li>Hassle-Free as no OTP and ID PASSWORD is required</li>
<li>Fast</li>
<li>User friendly</li>
<li>Helps during Emergency</li>
</ul>
    </div>
</ion-content>
