<ion-content>
<ion-img src="assets/header.png"></ion-img>
<ion-back-button  defaultHref="tabs/tab2" class="back-btn-css"></ion-back-button>
<h2 text-center style="text-transform:uppercase">Set Password</h2>
<div padding>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="text" [(ngModel)]="password"></ion-input>
  </ion-item>

    <ion-button expand="block" (click)="updatePassword()" style="margin-top:40px">Update<ion-icon slot="start" name="save"></ion-icon></ion-button>

</div>
</ion-content>
